@page "/statements"
@using NetWorth.Services

<MudPaper Class="pa-5 ma-2" Elevation="3">
    <MudStack Row>
        <MudText Typo="Typo.h4">Yearly Statements</MudText>

        <MudSelect T="int" Clearable="false" @bind-Value="selectedYear" FullWidth="false" Style="width:200px;">


            @foreach (var year in YearSelections)
            {
                <MudSelectItem Value="year">
                    <span>@year</span>
                    @if (StatementService.Current.ExistingYears.Contains(year))
                    {
                        <span> - @StatementService.Current.GetSummary(year).YearNetWorth.ToString("C")</span>
                    }
                </MudSelectItem>
            }
        </MudSelect>
    </MudStack>
    <MudDivider />

    <YearSummaryForm Year="selectedYear" />
</MudPaper>

@code {
    [Inject] protected StatementService StatementService { get; set; }

    private int selectedYear = DateTime.Now.Year;
    private IEnumerable<int> YearSelections;

    protected override Task OnInitializedAsync()
    {
        YearSelections = Enumerable.Range(StatementService.Current.Household.StartTrackingYear, DateTime.Now.Year - StatementService.Current.Household.StartTrackingYear + 1).ToList();
        return base.OnInitializedAsync();
    }
}
