@page "/footnotes"
@using NetWorth.Domain
@using NetWorth.Services

<h3>Footnotes</h3>

<MudPaper Class="pa-4 mud-height-full">
    <MudTabs Position="Position.Left">
        <MudTabPanel Text="Life Insurance Plans">
            <LifeInsurancePlans Plans="StatementService.Current.Footnote.LifeInsurancePlans"
                                PlansChanged="@((List<LifeInsurancePlan> plans) => StatementService.Current.Footnote.LifeInsurancePlans = plans)" />
        </MudTabPanel>
        <MudTabPanel Text="College Savings Accounts">
            <CollegeSavingsAccounts Accounts="StatementService.Current.Footnote.CollegeSavingsAccounts"
                                    AccountsChanged="@((List<CollegeSavingsAccount> accounts) => StatementService.Current.Footnote.CollegeSavingsAccounts = accounts)" />
        </MudTabPanel>
        <MudTabPanel Text="Real Estate Details">
            <MudTextField Label="Real Estate Details" @bind-Value="StatementService.Current.Footnote.RealEstateDetails" FullWidth="true" />
        </MudTabPanel>
    </MudTabs>
</MudPaper>

<SaveResetFooter OnSave="Save" OnReset="Reset" />

@inherits SaveResetPageBase<Footnote>

@code {
}